{% extends 'base.html' %}
{% load static %}


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Thanks for contacting us!</p>
                <p>We are going to answer you as soon as it is possible.</p>


            </div>
        </div>
    </div>
{% endblock content %}