{% load staticfiles %}
{% load emoticons_tags %}
<section class="row comment col-md-9">
    <div class="col-md-3 comment-profile">
        <p><a class="story-img" href="#">
            <img src="" style="width:100px" ;
                 height: 100px; background-color: #12ABB2; color: #fff;"
            class="img-circle">
        </a></p>
        <p>{{ post.user.first_name }}</p>
        <p>{{ post.user.posts.count }} POSTS</p>
    </div>
    <hr>
    <div class="col-md-9">
        <div class="comment-content">
            {% autoescape off %}
            {{ post.comment|emoticons }}
            {% endautoescape %}
        </div>
        <div class="clearfix"></div>
        {% include "forum/comment_details.html" %}

    </div>
</section>
